{% extends 'base.html' %}
{% block meta %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toko Izaka</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Montserrat', sans-serif;
            background-color: #f4f4f9;
            color: #333;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-image: url('background-image.jpg');
            background-size: cover;
            background-position: center;
        }
        .container {
            max-width: 600px;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 15px;
            text-align: center;
            animation: fadeIn 1s ease-in-out;
        }
        h1 {
            font-size: 36px;
            color: #333;
            margin-bottom: 30px;
        }
        h5 {
            font-size: 18px;
            color: #555;
            margin-bottom: 1px;
        }
        h4 {
            font-size: 16px;
            color: #555;
            margin-bottom: 1px;
        }
        p {
            font-size: 20px;
            color: #222;
            margin-bottom: 10px;
        }
        img {
            border-radius: 10px;
            transition: transform 0.3s ease;
        }
        img:hover {
            transform: scale(1.05);
        }
        @keyframes fadeIn {
            0% {
                opacity: 0;
                transform: translateY(20px);
            }
            100% {
                opacity: 1;
                transform: translateY(0);
            }
        }
    </style>
{% endblock meta %}

{% block content %}
    {% comment %} <div class="container">
        <h1>Toko Izaka</h1>

        <h5>Name:</h5>
        <p>{{ name }}</p>
        <img src="https://i.imgur.com/vUDf8lr.jpeg" alt="image">

        <h5>Price:</h5>
        <p>{{ price }}</p>

        <h5>Description:</h5>
        <p>{{ description }}</p>

        <h4>Nama: Muhammad Adiansyah | kelas: PBP B</h4>

    </div> {% endcomment %}
    {% if not product_entries %}
<p>Belum ada data product</p>
{% else %}
<table>
  <tr>
    <th>name</th>
    <th>price</th>
    <th>description</th>
    <th>image</th>
  </tr>

  {% comment %} Berikut cara memperlihatkan data mood di bawah baris ini 
  {% endcomment %} 
  {% for product_entry in product_entries %}
  <tr>
    <td>{{product_entry.name}}</td>
    <td>{{product_entry.price}}</td>
    <td>{{product_entry.description}}</td>
    <td>{{product_entry.image}}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}

<br />

<a href="{% url 'main:create_product_entries' %}">
  <button>Add New Product</button>
</a>
{% endblock content %}